<FilesMatch \.php$>
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Credentials: true
    </IfModule>
</FilesMatch>

<FilesMatch "\.(jpg|jpeg|png|gif|js|css|woff|woff2)$">
    Header set Cache-Control "max-age=31536050"
</FilesMatch>

<Files ~ "^delete_old_shouts\.php|json">
    Order allow,deny
    Deny from all
</Files>

# authorization header for various servers
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
