/*
###################################################################
    Customize color scheme of your ChatX app
    in this file.
    STYLE: CHATX DEFAULT BLUE
    # Author: C3La-NS
    # More ChatX templates: https://bit.ly/3pNYMeF
###################################################################
*/

:root {
  --chx-1-color: #ff00e0; /* dominant color */
  --chx-2-color: #8af4ff; /* header, bottom buttons, authentication buttons, user nicknames, borders */
  --chx-2-1-color: #682e2e;
  --chx-3-color: #967a33; /* buttons, even lists */
  --chx-4-color: rgb(236 246 255 / 95%); /* pop-ups */
  --chx-5-color: #ffef00; /* borders */
  --chx-6-color: #ff00e0; /* pop-up texts */
  --chx-7-color: #000000; /* reply button, history links, general links */
  --chx-8-color: #d73838; /* even text lists, helper texts, time-ago */
  --chx-9-color: #df5e90; /* odd text lists */
  --chx-10-color: rgba(255, 187, 187, 0.95); /* errors */
  --chx-11-color: #bb5a5a; /* error texts */
  --chx-12-color: #00244c; /* my message */

  /* # # # More components # # # */
  --chx-selection-color: rgb(91 73 9); /* chat text selection */
  --chx-placeholder-color: #ffffff; /* chat placeholders */
  --chx-scrollbar-color: var(
  --chx-4-color); /* chat scrollbar */
  --chx-shadows-separators-color: rgb(255 162 0); /* chat box-shadows and some borders */
}