/* ------- Mini-chat-box template ------- */

.chxicon-link:before, .chxicon-photo:before, .chxicon-color:before, .chxicon-unmute:before, .chxicon-mute:before, .chxicon-notification-default:before, .chxicon-notification-disabled:before, .chxicon-notification-subscribed:before, .chxicon-help:before {
	vertical-align: middle;
}

.expanded .chxicon-user:before {
	background: var(--chx-shadows-separators-color);
	padding: 3px;
	border-radius: 100%;
}

.modal .chxicon-logout:before {
	margin-left: 2px;
}

.chxicon-pause {
	display: none;
	position: absolute;
	right: 28%;
	top: 12px;
	font-size: 12px;
	z-index: 1;
}

/* normalize */
#chatx * {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

#chatx a {
	font-weight: normal !important;
	text-decoration: none !important;
	text-transform: none !important;
}

#chatx .shoutbox a:hover {
	text-decoration: underline !important;
}

chx_div {
 /* div */
	display: block;
}

chx_li {
 /* li */
	display: list-item;
	width: 100%;
}

chx_p {
 /* p */
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

#chxwrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 99997;
	background: #000;
	opacity: 0.05;
}
/* application */
#chatx {
	width: 285px;
	margin: 0 auto;
	z-index: 99998;
	position: fixed !important;
	font-family: sans-serif;
	font-size: 14px !important;
	border-radius: 7px;
	box-shadow: 0 0 2em var(--chx-shadows-separators-color);
	line-height: initial;
}

#chatx.expanded chx_header {
	cursor: grab;
	position: relative;
	width: 100%;
	right: 0;
	bottom: unset;
}

#chatx .chx-bar {
	box-shadow: 0 3px 6px 0 var(--chx-shadows-separators-color);
	width: 100%;
	position: relative;
	height: 36px;
	text-align: left;
	margin: 0;
	border-radius: 7px 7px 0 0;
	font-size: 16px;
}

#chatx .chx-bar chx_span {
	margin-left: 7px;
	padding-right: 5px;
	font-weight: 700;
}

#chatx .chx-bar chx_span, #chatx.minimized .chx-bar chx_span {
	display: none;
}

#chatx.expanded .chx-bar chx_span {
	display: inline-block;
}

#chatx .chx-bar .chat_popover chx_span {
	border: 0;
}

.chx-sound-notific, .chx-push-notific, .chx-help {
	padding: 0 !important;
	width: 25%;
	border-right: 1px solid !important;
	text-align: center;
}

#chatx.expanded .chx-container {
	display: block !important;
	position: relative;
	min-height: 360px;
	height: 360px;
	border-style: solid;
	border-width: 0 1px 0 1px;
	overflow-x: hidden !important;
	z-index: -2;
}

#chatx.expanded .chx-container::after {
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

/* ------- The comments content ------- */
.shoutbox-content, .shoutbox-history {
	list-style: none;
	width: 100%;
	min-height: 161px;
	margin: 0;
	padding: 0;
	font-size: inherit;
	line-height: 20px;
	font-weight: 700;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.shoutbox-history {
	min-height: unset;
}

.shoutbox-history chx_li:first-child {
	margin-top: 7px;
}

.shoutbox-content chx_li, .shoutbox-history chx_li {
	position: relative;
	padding: 2px 10px 2px 8px;
	float: left;
	z-index: 2;
}

.shoutbox-content chx_li:last-child {
	padding-bottom: 6px;
}

.shoutbox-username {
	display: inline;
	text-align: left;
	margin-right: 5px;
	white-space: nowrap;
}

.shoutbox-comment {
	position: relative;
	display: inline-block;
	max-width: 95%;
	font-weight: 400;
	font-size: 90%;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	border-radius: 13px;
}

.shoutbox-comment::before {
	top: 10px;
	left: -5px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	border-color: transparent;
	border-width: 5px;
	margin-left: -5px;
}

#chx-my-msg .shoutbox-comment::before {
	left: unset;
	right: -10px;
	border-right-color: transparent;
}

.shoutbox-content #chx-my-msg .shoutbox-comment, .shoutbox-history #chx-my-msg .shoutbox-comment {
	float: right;
}

.shoutbox-content #chx-my-msg .shoutbox-comment-reply, .shoutbox-history #chx-my-msg .shoutbox-comment-reply {
	display: none;
}

.shoutbox-comment-contents {
	display: inline;
	word-wrap: anywhere;
	white-space: pre-line;
}

.shoutbox-comment *:not(.shoutbox-username b):not(.shoutbox-comment-ago) {
    user-select: text !important;
}

.shoutbox-comment-details {
	margin: 5px 0 3px 10px;
	height: 11px;
	display: inline-block;
	float: right;
}

.shoutbox-comment-reply {
	display: inline-block;
	float: right;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
	cursor: pointer;
}

.shoutbox-comment-reply .chxicon-reply {
	font-size: 12px;
	opacity: .3;
	transition: .3s;
}

.shoutbox-comment-reply .chxicon-reply:hover {
	opacity: 1;
}

.shoutbox-comment-ago {
	display: inline-block;
	float: left;
	font-size: 11px;
	font-weight: normal;
	line-height: 20px;
	text-align: right;
	transition: opacity .3s linear;
}

.shoutbox-comment-ago:hover {
	opacity: 1;
}

#chatx .chx-bar chx_span:not(.chat_popover chx_span):not(.chx-sound-notific):not(.chx-push-notific),.chxicon-chat,.chxicon-expand {
	margin-top: calc(36px - 27px) !important;
}
/* ------- Writing a new comment form ------- */
.expanded .shoutbox-form {
	display: block;
	position: relative;
}

.shoutbox-form form:not(#imgur_uploader) {
	display: block;
	min-height: 58px;
	text-align: left;
	padding: 0;
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	border-radius: 0 0 7px 7px;
}

.expanded #false_shoutbox_name {
	display: inline-block !important;
	position: absolute !important;
	left: 0 !important;
	width: 100% !important;
	max-width: 48% !important;
	height: 24px !important;
	margin: calc(36px - 30px) calc(50% - 24.5%) !important;
	padding: 0;
	font-family: inherit !important;
	font-size: 14px !important;
	text-align: center !important;
	border: 0 !important;
	border-radius: 11px !important;
	box-shadow: none !important;
	outline: none !important;
	box-sizing: border-box !important;
	vertical-align: top !important;
}

.name-required, .mybbRegPrompt {
	position: absolute;
	width: 74%;
	height: 35px;
	right: 13%;
	text-align: center;
	line-height: 35px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	box-shadow: 0 0 0.5em var(--chx-shadows-separators-color);
}

.name-required {
	display: none;
	top: 3.3em;
	z-index: 3;
}

.name-required:before, .mybbRegPrompt:before {
	content: "";
	position: absolute;
	right: 50%;
	margin-right: -10px;
	top: -20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px;
}

.chx-settings-button {
	color: inherit !important;
}

.shoutbox-form form #shoutbox-comment {
	vertical-align: top;
	min-height: 52px;
	padding: 10px 5px 5px 10px;
	outline: none;
	line-height: 18px;
	text-indent: 24px;
    overflow: hidden;
	box-sizing: border-box;
	word-break: break-word;
}
#shoutbox-comment:empty:before {
    content: attr(placeholder);
    cursor: text;
}

.shoutbox-content .chatx_img, .shoutbox-history .chatx_img {
	max-width: 100%;
	max-height: 200px;
	margin: 3px auto 0;
	border-radius: 7px 7px 13px 13px;
	display: block;
	cursor: pointer;
}

.shoutbox-content .emojione, .shoutbox-history .emojione {
	display: inline-block;
	margin: 0;
	pointer-events: none;
}

#chx-send-message {
	position: absolute;
	vertical-align: top;
	top: 0;
	right: 0;
	float: right;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	margin-top: 10px;
	padding: 0;
	font-size: 32px;
	color: inherit;
	background: transparent;
	border: 0;
	box-shadow: none;
	cursor: pointer;
	outline: none;
	z-index: 2;
}
/* ------- Placeholders and some fixes ------- */
#false_shoutbox_name::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
	text-align: center;
}

#false_shoutbox_name::-moz-placeholder {
    /* Firefox 19+ */
	text-align: center;
}

.shoutbox-form form #shoutbox-comment::-webkit-input-placeholder {
    /* fixing text-indent for IOS Safari */
	text-indent: 26px;
}
/* ------- Icons ------- */
.chxicon-chat {
	display: inline-block;
	padding-left: 10px;
	font-size: 20px;
	height: 21px;
}

.expanded .chxicon-chat {
	display: none;
}

.expanded .chxicon-gear, .expanded .chxicon-refresh, .expanded .chxicon-minimize {
	position: absolute;
	display: block;
	top: 8px;
	font-size: 20px;
	cursor: pointer;
}

.expanded .chxicon-gear {
	right: 25px;
}

.expanded .chxicon-refresh {
	right: 49px;
}

.expanded .chxicon-minimize {
	right: 5px;
	font-size: 18px;
}

.chx-bar .chxicon-user {
	display: none;
	position: absolute;
	top: 11px;
	font-size: 14px;
	z-index: 1;
}

.expanded .chxlogged-in {
	display: inline-block;
}

.chat_popover_parent {
	position: absolute;
	right: 0;
	top: 0;
}

.chat_popover {
	display: none;
	right: -5px;
	border-radius: 4px;
	position: absolute;
	top: 3em;
	z-index: 3;
	width: 220px;
	font-family: sans-serif;
	line-height: 25px;
	cursor: auto;
}

.chat_popover:before {
	content: "";
	position: absolute;
	right: 30px;
	top: -20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px;
}

.chat_popover chx_span {
	margin: 0 !important;
	padding: 0 10px;
	font-size: 12px;
}

.chat_popover chx_div {
	margin: 12px;
}

.chat_popover chx_div:not(:first-child) {
	margin: 0;
	padding: 0 12px;
	border-top: 1px solid;
}

.chat_popover chx_div:nth-child(2) {
    display: flex;
    align-items: center;
	padding: 0;
}

#chatx .chx-management-link, #chatx .chatx_logout, #chatx .chatx_login {
	font-size: 12px !important;
	margin: 5px 0 !important;
	text-decoration: none !important;
	text-transform: none !important;
	cursor: pointer !important;
}

#chatx .chx-management-link {
	float: left;
}

#chatx .chatx_logout, #chatx .chatx_login {
	float: right;
}

.active .chat_popover {
	display: block;
}

#chatx input[type=checkbox] {
	display: none;
}

#chatx .chat_popover label {
	width: 45px;
	height: 25px;
	box-sizing: border-box;
	border: 2px solid;
	float: left;
	border-radius: 100px;
	position: relative;
	cursor: pointer;
	transition: .3s ease;
}

#chatx .chat_popover input[type=checkbox]:checked + label:before {
	left: 20px;
}

#chatx .chat_popover label:before {
	transition: .3s ease;
	content: '';
	width: 19px;
	height: 19px;
	position: absolute;
	left: 2px;
	top: 1px;
	box-sizing: border-box;
	border: 2px solid;
	border-radius: 100px;
}

.chx-imgur-uploader input[type=file] {
	width: 23px !important;
	height: 35px !important;
	right: 32px !important;
	outline: 0 !important;
	opacity: 0 !important;
	position: absolute !important;
	font-size: 0 !important;
	cursor: pointer !important;
}

.loading-modal {
	position: absolute;
	top: 50%;
	left: 85px;
	margin-top: -58px;
	border-radius: 7px;
	height: 115px;
	width: 115px;
	z-index: 3;
}

.busy .loading-modal {
	display: block;
} /* DO I HAVE THIS CLASS???? */
/* ------- Emoji One styles ------- */
.emojione {
	font-size: inherit;
	height: 3ex;
	width: 3.1ex;
	min-height: 20px;
	min-width: 20px;
	display: inline-block;
	margin: -.2ex .15em .2ex;
	line-height: normal;
	vertical-align: middle;
}

img.emojione {
	width: auto;
}

#chatx:not(.expanded) chx_header {
	bottom: 0;
	right: 30px;
	position: fixed;
	width: 80px;
	cursor: auto !important;
}

.expanded chx_header {
	left: 0;
}

.chx-container, .shoutbox-form, #false_shoutbox_name, .chxicon-refresh, .chxicon-gear, .chxicon-minimize, .expanded .chxicon-expand {
	display: none;
}

.minimized .chx-pulsating-circle {
	display: none !important;
}

.minimized .chx-login-form {
	display: none !important;
}

.chxicon-expand {
	display: block;
}

.chxicon-expand {
	float: right;
	display: inline-block;
	font-size: 20px;
	height: 20px;
	cursor: pointer;
	margin: 0 10px 0;
}

.chx-pulsating-circle {
	display: none;
	position: absolute;
	right: 28%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 6px;
	height: 6px;
	z-index: 1;
}

.chx-pulsating-circle:before {
	content: '';
	position: relative;
	display: block;
	width: 300%;
	height: 300%;
	box-sizing: border-box;
	margin-left: -100%;
	margin-top: -100%;
	border-radius: 45px;
	animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.chx-pulsating-circle:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	box-shadow: 0 0 8px var(--chx-shadows-separators-color);
	animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@-webkit-keyframes pulse-ring {
	0% {
		-webkit-transform: scale(0.33);
		transform: scale(0.33);
	}

	80%, 100% {
		opacity: 0;
	}
}

@keyframes pulse-ring {
	0% {
		-webkit-transform: scale(0.33);
		transform: scale(0.33);
	}

	80%, 100% {
		opacity: 0;
	}
}

@-webkit-keyframes pulse-dot {
	0% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}

@keyframes pulse-dot {
	0% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-7px);
	}

	100% {
		transform: translateY(0);
	}
}

.chx-login-form {
	position: absolute;
	display: none;
	top: calc(50% - 117px);
	left: calc(50% - 117px);
	z-index: 3;
	width: 235px;
	height: 235px;
	border-radius: 7px;
	padding-top: 50px;
	box-sizing: border-box;
}

.chx-login-form.active {
	display: block;
}

.chx-login-form input[type="text"], .chx-login-form input[type="password"] {
	display: block;
	height: unset !important;
	border: 0 !important;
	margin: 10px auto;
	padding: 10px !important;
	text-align: center !important;
	width: 85% !important;
	border-radius: 2px !important;
	font: initial !important;
	font-size: 13px !important;
	font-family: sans-serif !important;
	box-sizing: border-box !important;
}

.chx-login-form .chx-signup-form-contents input {
	margin: 2px auto;
}

.chx-login-form .chx-signup-form-contents input:first-child {
	margin-top: 10px;
}

.chx-login-button {
	display: block;
	margin: 0 auto;
	padding: 10px 0;
	border: 0;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 100%;
	font-size: 28px;
	cursor: pointer;
	outline: none;
}

.chx-login-button:hover {
	transition: .5s;
}

[data-loggedIn="true"]:before {
	content: "\e00a";
	margin-right: 5px;
	text-align: center;
	width: 14px;
	height: 14px;
	font-size: 12px;
	font-family: "chatx-icons";
	vertical-align: top;
	border: 1px solid;
	border-radius: 100%;
	padding: 1.5px;
}

.bb-popup {
	display: none;
	position: absolute;
	width: 180px;
	height: 35px;
	left: -5px;
	margin-top: -40px;
	text-align: center;
	line-height: 35px;
	text-transform: uppercase;
	border-radius: 4px;
	z-index: 4;
	font-weight: bold;
}

.bb-popup:before {
	content: "";
	position: absolute;
	left: 13px;
	top: 35px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

.bb-popup chx_div {
	display: inline-block;
	padding: 0 5px;
	cursor: pointer;
}

.chx-color-bb-prompt, .chx-image-bb-prompt, .chx-link-bb-prompt {
	position: absolute;
	display: none;
	z-index: 3;
	width: calc(100% - 1px);
	padding: 15px 10px 0 10px;
	box-sizing: border-box;
	border-radius: 0 0 5px 5px;
}

.chx-image-bb-prompt, .chx-link-bb-prompt {
	padding-top: 10px;
}

.chxicon-hue {
	font-size: 19px;
	padding: 0 1px;
	text-shadow: 1px 1px 1px var(--chx-shadows-separators-color);
}

.chx-red {
	color: red;
}

.chx-orange {
	color: orange;
}

.chx-yellow {
	color: yellow;
}

.chx-green {
	color: green;
}

.chx-lightblue {
	color: lightblue;
}

.chx-blue {
	color: blue;
}

.chx-purple {
	color: purple;
}

.chx-imgur-uploader chx_i {
	font-size: 12.5px;
	vertical-align: middle;
}

.chxicon-plus {
	width: 20px;
	height: 20px;
	position: absolute;
	margin-top: 12px;
	margin-left: 10px;
	font-size: 16px;
	cursor: pointer;
}

form .chxicon-plus {
    z-index: 1;
}

.chxicon-hue {
	cursor: pointer;
}

.chx-login-form chx_p {
	font-size: 12px;
	text-align: center;
	color: #da8080;
	background: var(--chx-shadows-separators-color);
	padding: 5px 0;
	position: absolute;
	width: 100%;
	bottom: 0;
	margin: 0;
}

.chx-hard-wrapper {
    position: relative;
    overflow: hidden; /*hide plus icon*/
}
.chx-scroll-wrapper {
	width: calc(100% - 42px);
	display: block;
	max-height: 105px !important;
 /* needed as a fix for smooth textarea resize */
	margin-bottom: 5px;
	overscroll-behavior-y: none;
}

.chx-login-form .chxicon-plus {
	top: 0;
	right: 10px;
	padding: 3px 0;
	text-align: center;
	font-size: 12px;
	transform: rotate(45deg);
	background: var(--chx-shadows-separators-color);
	border-radius: 100%;
}

.chx-login-form .chxicon-plus:hover {
	transition: .5s;
}

.chxicon-unmute, .chxicon-mute, .chxicon-notification-default, .chxicon-notification-disabled, .chxicon-notification-subscribed, .chxicon-help {
 /* better change to .chx-push-notific chx_i */
	font-size: 16px;
	cursor: pointer;
}

#resizer {
	display: none;
	position: relative;
	cursor: s-resize;
	height: 10px;
	width: 100%;
	border-width: 1px;
	border-bottom-width: 0;
	border-style: solid;
	border-bottom-style: none;
	left: 0;
	transition: .5s;
	z-index: 2 !important;
}

.expanded #resizer {
	display: block;
}

#chatx .resize-helper {
	position: absolute;
	width: 34px;
	top: 2px;
	padding: 1px 0 0;
	border-width: 2px 0 2px;
	border-style: solid;
	left: calc(50% - 18px);
}

.chx-login-form-contents, .chx-signup-form-contents {
	display: none;
}

.chx-switch-tab {
	cursor: pointer;
	display: inline-block;
	position: absolute;
	font-size: 12px;
	top: 30px;
	background: var(--chx-shadows-separators-color);
	padding: 0 6px;
	border-radius: 3px;
}

.chx-switch-tab.first {
	left: 55px;
}

.chx-switch-tab.second {
	right: 55px;
}

.chx-form-radio {
	display: none !important;
}

.chx-form-radio:checked + chx_span {
	display: initial;
}

.chx-reg-disabled {
	font-size: 100px;
	display: block;
	text-align: center;
	margin: 30px 0;
	color: var(--chx-shadows-separators-color);
}

#chx-new-message.scrollable {
	box-shadow: inset 0 13px 8px -10px var(--chx-shadows-separators-color);
}

.chx-history {
	text-align: center;
}

.chx-history chx_span {
	display: inline-block;
}

.chx-history chx_i {
	display: block;
	width: 25px;
	height: 25px;
	margin: 6px auto;
	font-size: 14px;
	line-height: 23px;
	border-radius: 100%;
	box-shadow: 0 0 .5em var(--chx-shadows-separators-color);
	cursor: pointer;
}

.chx-history chx_div {
	display: none;
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin: 5px 0;
	padding: 0 5.5em;
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

.chx-image-bb-prompt input, .chx-link-bb-prompt input {
	width: 80% !important;
	height: unset !important;
	margin: unset !important;
	padding: unset !important;
	border: 0 !important;
	display: inline-block !important;
	float: left !important;
	background: transparent !important;
	outline: none !important;
	font-weight: normal !important;
	font: inherit !important;
	font-size: inherit !important;
	line-height: 18px !important;
}

.chx-process-img, .chx-process-link {
	padding: 3px 10px;
	border: 1px solid;
	display: inline-block;
	float: right;
	border-radius: 7px;
	cursor: pointer;
}

.chx-bar.chx-new:after {
	content: "\e01a";
	font-family: "chatx-icons";
	width: 35px;
	height: 35px;
	position: absolute;
	left: -17px;
	top: -13px;
	display: inline-block;
	border-radius: 100%;
	text-align: center;
	line-height: 35px;
	font-size: 22px;
	border: 2px solid;
	box-shadow: 0 0 10px var(--chx-shadows-separators-color);
	animation: bounce 1.2s infinite;
}

.chx_down {
	display: none;
	position: absolute;
	top: -50px;
	right: 8px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	transform: rotate(180deg);
	font-weight: bold;
	box-shadow: 0 0 0.5em var(--chx-shadows-separators-color);
	cursor: pointer;
}

chx_li[data="chx-img-msg"] .shoutbox-comment-details {
	margin-top: -27px;
	padding: 0 4px;
	border-radius: 13px;
	height: 20px;
	opacity: .99;
	box-shadow: 0 0 0.5em var(--chx-shadows-separators-color);
}

chx_li[data="chx-img-msg"] .shoutbox-comment-ago {
	padding: 0 1px 0 4px;
}

chx_li[data="chx-img-msg"] .shoutbox-comment-reply {
	padding: 0 4px 0 1px;
}

chx_li[data="chx-img-msg"] .shoutbox-comment-ago, chx_li[data="chx-img-msg"] .chxicon-reply {
	opacity: 1;
	transition: unset;
}

.shoutbox-comment-time {
	position: absolute;
	width: fit-content;
	margin-top: -25px;
	padding: 0 4px;
	visibility: hidden;
	opacity: 0;
	border-radius: 5px;
	box-shadow: 0 0 0.5em var(--chx-shadows-separators-color);
	transition: visibility 0s linear 0.5s, opacity 0.5s linear;
	right: 0;
}

.shoutbox-comment-time::before {
	content: "";
	position: absolute;
	right: 10px;
	top: 20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px;
}

chx_li:not(#chx-my-msg):not([data="chx-img-msg"]) .shoutbox-comment-time::before {
	right: 20px;
}

chx_li[data="chx-img-msg"]:not(#chx-my-msg) .shoutbox-comment-time::before {
	right: 30px;
}

.shoutbox-comment-time::before {
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

.shoutbox-comment-ago:hover .shoutbox-comment-time {
	visibility: visible;
	opacity: .99;
	transition-delay: 0.5s;
}

[data-simplebar] {
	position: relative;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.simplebar-wrapper {
	overflow: hidden;
	width: inherit;
	height: inherit;
	max-width: inherit;
	max-height: inherit;
}

.simplebar-mask {
	direction: inherit;
	position: absolute;
	overflow: hidden;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: auto !important;
	height: auto !important;
	z-index: 0;
}

.simplebar-offset {
	direction: inherit !important;
	box-sizing: inherit !important;
	resize: none !important;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0;
	-webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
	overflow: auto !important;
 /* Required for fixing iOS scrolling issue */
	direction: inherit;
	box-sizing: border-box !important;
	position: relative;
	display: block;
	height: 100%;
	outline: 0;
 /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
	width: auto;
	max-width: 100%;
 /* Not required for horizontal scroll to trigger */
	max-height: 100%;
 /* Needed for vertical scroll to trigger */
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
	content: ' ';
	display: table;
}

.simplebar-placeholder {
	max-height: 100%;
	max-width: 100%;
	width: 100%;
	pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
	box-sizing: inherit !important;
	height: 100%;
	width: 100%;
	max-width: 1px;
	position: relative;
	float: left;
	max-height: 1px;
	overflow: hidden;
	z-index: -1;
	padding: 0;
	margin: 0;
	pointer-events: none;
	flex-grow: inherit;
	flex-shrink: 0;
	flex-basis: 0;
}

.simplebar-height-auto-observer {
	box-sizing: inherit;
	display: block;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 1000%;
	width: 1000%;
	min-height: 1px;
	min-width: 1px;
	overflow: hidden;
	pointer-events: none;
	z-index: -1;
}

.simplebar-track {
	z-index: 91;
	position: absolute;
	right: 0;
	bottom: 0;
	pointer-events: none;
	overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
	pointer-events: all;
}

.simplebar-scrollbar {
	position: absolute;
	left: 0;
	right: 0;
	min-height: 10px;
}

.simplebar-scrollbar:before {
	position: absolute;
	content: '';
	border-radius: 7px;
	left: 2px;
	right: 2px;
	opacity: 0;
	transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
	opacity: 0.5;
	transition: opacity 0.2s linear;
}

.simplebar-track.simplebar-vertical {
	top: 0;
	width: 9px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
	top: 2px;
	bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
	left: 0;
	height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
	height: 100%;
	left: 2px;
	right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
	right: auto;
	left: 0;
	top: 2px;
	height: 7px;
	min-height: 0;
	min-width: 10px;
	width: auto;
}

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
	right: auto;
	left: 0;
}

/* For Webkit browsers like Chrome, Safari */
.no-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.hs-dummy-scrollbar-size {
	direction: rtl;
	position: fixed;
	opacity: 0;
	visibility: hidden;
	height: 500px;
	width: 500px;
	overflow-y: hidden;
	overflow-x: scroll;
}

.simplebar-hide-scrollbar {
	position: fixed;
	left: 0;
	visibility: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
}

.modal img {
	max-width: 96%;
	max-height: 96%;
	border: 4px solid #fff;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	cursor: grab;
}

.modal chx_i, .modal a {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 36px;
	height: 36px;
}

.modal .chxicon-plus, .modal .chxicon-logout {
	background: rgb(0 0 0 / 25%);
	border-radius: 100%;
	color: rgb(255 255 255 / 40%);
}

.modal .chxicon-plus {
	top: 10px;
	right: 20px;
	font-size: 30px;
	transform: rotate(45deg);
}

.modal a {
	bottom: 20px;
	right: 20px;
}

.modal .chxicon-logout {
	font-size: 25px;
	transform: rotate(90deg);
}

.lds-dual-ring {
	display: block;
	width: 50px;
	height: 50px;
	margin: 30px auto;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

.progress-bar-wrapper {
    position: absolute;
    right: 7px;
    top: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid;
    box-sizing: content-box !important;
    z-index: 1;
}
.progress-bar-svg {
    width: 32px;
    height: 32px;
    overflow: visible;
}
.progress-bar-circle {
    fill: none;
    stroke-width: 3;
    stroke-linecap: butt;
    stroke-dasharray: 0;
    transition: stroke-dasharray 0.2s linear;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}