/*
###################################################################
               Customize color scheme of your ChatX app
               in this file.
               — STYLE: CHATX DEFAULT BLUE —
               # Author: C3La-NS
               # More ChatX templates: https://xlns.ru/chatx
###################################################################
*/

:root {
  --chx-primary-color: #f9fafb; /* dominant color */
  --chx-secondary-color: #87bfef; /* header, bottom buttons, authentication buttons, user nicknames, borders */
  --chx-third-color: #fff; /* buttons, even lists */
  --chx-forth-color: rgba(72, 72, 72, 0.95); /* pop-ups */
  --chx-fifth-color: #d5dbe1; /* borders */
  --chx-sixth-color: #ccc; /* pop-up texts */
  --chx-seventh-color: #5896cb; /* reply button, history links, general links */
  --chx-eighth-color: #717c87; /* even text lists, helper texts, time-ago */
  --chx-nineth-color: #717c87; /* odd text lists */
  --chx-tenth-color: rgba(255, 187, 187, 0.95); /* errors */
  --chx-eleventh-color: #bb5a5a; /* error texts */
  --chx-twelveth-color: #51718c; /* input placeholders */
  --chx-thirteenth-color: #e6f3ff; /* my message */
  
}

#chatx .chx-bar { /* Chat header */
    background: var(--chx-secondary-color);
    color:  var(--chx-third-color); /* Header text and icons */
}

#false_shoutbox_name {  /* Username field */
    background: transparent;
    color: var(--chx-third-color);
}

.name-required {
    background: var(--chx-tenth-color);
    color: var(--chx-eleventh-color);
}

.name-required:before {
    border-bottom-color: var(--chx-tenth-color);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

#chatx .chx-container { /* Border-color on the left side of the chat window. Right side has no border due to the scroll bar */
    border-left-color: var(--chx-fifth-color);
    border-right-color: var(--chx-fifth-color);
}

.shoutbox-content chx_li:nth-child(even) { /* Background and color for even shouts */
    background: var(--chx-third-color);
    color:  var(--chx-eighth-color);
}

.shoutbox-content chx_li:nth-child(odd) { /* Background and color for odd shouts */
    background:var(--chx-primary-color);
    color:  var(--chx-nineth-color);
}

.shoutbox-content chx_li {
    border-bottom-color: var(--chx-fifth-color);
}

.shoutbox-content chx_li:last-child { /* Making the border of the last shout in the shout-list transparent so that it didn't controdict in style with the following .shoutbox-helper block border */
    border-bottom-color: transparent;   
}

.shoutbox-content chx_li#chx-my-msg {
    background: var(--chx-thirteenth-color);
}

.shoutbox-username {
    color:  var(--chx-secondary-color);
}

.shoutbox-content a, .chx-history a { /* Links color in messages and some other parts. "!important" property may be required in some cases */
    color: var(--chx-seventh-color) !important;
}

.shoutbox-comment-reply { /* Reply button and icon */
    color:  var(--chx-seventh-color);
}

.shoutbox-comment-ago { /* Time ago */
    color: var(--chx-eighth-color);
    opacity: .5;
}

.shoutbox-helper, .shoutbox-content, .chx-history {
    color: var(--chx-eighth-color);
    border-bottom-color: var(--chx-fifth-color);
}
.shoutbox-form form:not(#imgur_uploader), .scrollbar-macosx { /* Reply form background & scrollbar background */
    background-color: var(--chx-primary-color);
}

.chx-color-bb-prompt, .chx-image-bb-prompt {
    background: var(--chx-primary-color);
}

.ui-resizable-s {
    background: var(--chx-primary-color);
    border-top-color: var(--chx-secondary-color);
}

.shoutbox-form form:not(#imgur_uploader) { /* Reply form */
    color: var(--chx-secondary-color);
    border-top-color: var(--chx-secondary-color);
    border-left-color: var(--chx-fifth-color);
    border-bottom-color: var(--chx-fifth-color);
    border-right-color: var(--chx-fifth-color);
}

#shoutbox-comment, input[name="url_to_img"] { /* Textarea & external image input. Preferable to leave background transparent, but you may want to customize the text color inside containers */
    background-color: transparent;
    color: var(--chx-eighth-color);
}

#false_shoutbox_name::-webkit-input-placeholder {
 /* Chrome/Opera/Safari */
  color: var(--chx-twelveth-color);
}

#false_shoutbox_name::-moz-placeholder {
 /* Firefox 19+ */
  color: var(--chx-twelveth-color);
}

#false_shoutbox_name:-ms-input-placeholder {
 /* IE 10+ */
  color: var(--chx-twelveth-color);
}

.icon-gear:active, .icon-refresh:active, .icon-minimize:active, .icon-expand:active, .icon-send:hover, .featherlight-close .icon-plus {
  filter: brightness(92%);
}

.loading-modal {
    background: var(--chx-forth-color);
}

.chat_popover {
    background: var(--chx-forth-color);
    color: var(--chx-third-color);
}

.chat_popover:before {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--chx-forth-color);
    border-left-color: transparent;
}

#chatx .chx-sound-notific chx_i, #chatx .chx-management-link, #chatx .chatx_logout, #chatx .chatx_login {
    color: var(--chx-sixth-color);
}

#chatx .chat_popover input[type=checkbox]:checked + label {
  background: var(--chx-secondary-color);
}

#chatx .chat_popover label:before {
  background: var(--chx-third-color);
  color: var(--chx-third-color);
}

.chx-pulsating-circle:before {
    background-color: var(--chx-third-color);
}

.chx-pulsating-circle:after {
    background-color: var(--chx-third-color);
}

.chx-login-form {
    background-color: var(--chx-forth-color);
}

.chx-login-form .icon-plus {
    color: var(--chx-third-color);
}

.chx-login-form .icon-plus:hover, .chx-login-button:hover {
    color: var(--chx-secondary-color);
}

.chx-switch-tab {
    color: var(--chx-third-color);
}

.chx-switch-tab.active, .chx-bar chx_span.chx-new:after {
    color: var(--chx-secondary-color);
}

.bb-popup {
    background: var(--chx-forth-color);
    color: var(--chx-third-color);
}

.bb-popup:before {
    border-top-color: var(--chx-forth-color);
}

.chx-login-form input[type="text"], .chx-login-form input[type="password"], .bb-popup chx_div:active {
    background: rgba(0, 0, 0, 0.2);
}

.chx-login-form input[type="text"], .chx-login-form input[type="password"] {
    color: var(--chx-secondary-color) !important;
}

.chx-login-button {
    background: rgba(0, 0, 0, 0.2);
    color: var(--chx-primary-color);
}

.chat_popover chx_div:not(:first-child), .chx-sound-notific {
    color: rgba(0, 0, 0, 0.2);
}

#chatx .resize-helper {
    color: var(--chx-secondary-color);
}

.chx-emojione-error {
    background: var(--chx-tenth-color);
    color: var(--chx-eleventh-color);
}